!!! 5
%html(lang="en-au")
%head
  %meta(charset="utf-8")
  %meta(content='Tim Lucas' name='author')
  %link(rel="author" href="http://toolmantim.com")
  %link(rel="stylesheet" href="/v5.css")
  %title Railscamp Tee v5
  %script(src="/jquery-1.4.2.min.js")
  %script(src="/v5.js")
%body
  %p.introducing Introducing...
  %h1 Railscamp Tee v5
  .tee
    %img(src="/v5.png")
    %a.order-now(href="") <strong>Reserve one!</strong>
  .props
    %p
      <em>Graphic by</em> <a href="http://waferbaby.com/" class="wafer">waferbaby</a>
    %p
      <em>Printing sponsored by</em> <a href="http://plus2.com.au/" class="plus2">plus2</a>
