!!! 5
%html(lang="en-au")
%head
  %meta(charset="utf-8")
  %title Railscamp Tee v5
  %link(rel="stylesheet" href="/v5.css")
  %script(src="/jquery-1.4.2.min.js")
  %script(src="/v5.js")
%body
  %p.introducing Introducing…
  %h1 Railscamp Tee v5
  