@import "reset";
@import "font-enamel-brush";
@import "font-zingende-regular";
@import "font-journal";

html {
  background: #f9e8c6;
  background: #f9e8c6 -webkit-gradient(radial, 50% 300, 0, 50% 300, 300, from(#fefcf9), to(#f9e8c6)) no-repeat;
}

body {
  width: 850px;
  margin: 0 auto;
  text-align: center;
}

a {
  text-decoration: none;
}

$light-brown: #e9be80;
$dark-brown: #ad6b0c;
$babyBlue: #3db5cd;

@mixin enamel {
  font-family: "EnamelBrushRegular-1", "EnamelBrushRegular-2";
  text-shadow: 0 0 3px #fff;
}

@mixin rotated-enamel {
  @include enamel;
  @include rotate(-5deg);
}

@mixin rotate($angle) {
  -webkit-transform: rotate($angle);
  -moz-transform: rotate($angle);
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius
}
@mixin box-shadow($colour, $xoffset, $yoffset, $radius) {
  -webkit-box-shadow: $colour $xoffset $yoffset $radius;
  -moz-box-shadow: $colour $xoffset $yoffset $radius;
}

@mixin shiny-button($color) {
  $shinyBorderColor: saturate($color, 5%);
  $shinyBackgroundColor: lighten($color, 15%);
  $shinyBackgroundColorDark: darken($shinyBackgroundColor, 15%);
  $shinyEdgeHighlightColor: white;
  $shinyShadowColor: transparentize(darken($color, 50%), .45);

  $shinyHoverColor: lighten($color, 5%);
  $shinyHoverBorderColor: lighten($shinyBorderColor, 5%);
  $shinyHoverBackgroundColor: lighten($shinyBackgroundColor, 5%);
  $shinyHoverBackgroundColorDark: lighten($shinyBackgroundColorDark, 5%);

  $shinyActiveColor: desaturate(darken($color, 3%), 5%);
  $shinyActiveBorderColor: $shinyBorderColor;
  $shinyActiveBackgroundColor: desaturate(darken($shinyBackgroundColor, 5%), 5%);
  $shinyActiveBackgroundDarkColor: darken($shinyActiveBackgroundColor, 15%);
  $shinyActiveEdgeHighlightColor: lighten($shinyBackgroundColor, 20%);
  $shinyActiveShadowColor: transparentize($shinyShadowColor, .2);

  display: inline-block;
  font-family: "ZingendeRegular-1", "ZingendeRegular-2", Helvetica, sans-serif;
  @include border-radius(5px);
  border: 2px solid $shinyBorderColor;
  
  cursor: pointer;

  strong {
    display: block;
    background-color: $shinyBackgroundColor;
    background-repeat: no-repeat, no-repeat;
    background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 200, from(rgba(255,255,255,.5)), to(rgba(255,255,255,0))), -webkit-gradient(linear, left top, left bottom, from($shinyBackgroundColor), to($shinyBackgroundColorDark), color-stop(0.6, $shinyBackgroundColor));
  }
  &, &:hover, &[disabled], &[disabled]:hover, &[disabled]:hover:active {
    @include box-shadow($shinyShadowColor, 0, 1px, 3px);
    color: $color;
    background-color: $shinyEdgeHighlightColor;
    text-shadow: 0 1px 1px #fff, 0 1px 5px rgba(255,255,255,.8);
    padding: 1px 0 0 0;
  }
  &:hover, &[disabled], &[disabled]:hover, &[disabled]:hover:active {
    color: $shinyHoverColor;
    border-color: $shinyHoverBorderColor;
    strong {
      background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 200, from(rgba(255,255,255,.6)), to(rgba(255,255,255,0))), -webkit-gradient(linear, left top, left bottom, from($shinyHoverBackgroundColor), to($shinyHoverBackgroundColorDark), color-stop(0.6, $shinyHoverBackgroundColor));
    }
  }
  &:active, &:hover:active {
    @include box-shadow($shinyActiveShadowColor, 0, 1px, 2px);
    padding-top: 1px;
    padding-bottom: 0px;
    color: $shinyActiveColor;
    border-color: $shinyActiveBorderColor;
    text-shadow: 0 1px 1px #fff, 0 1px 5px rgba(255,255,255,.3);
    background-color: $shinyActiveEdgeHighlightColor;
    strong {
      background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 200, from(rgba(255,255,255,.6)), to(rgba(255,255,255,0))), -webkit-gradient(linear, left top, left bottom, from($shinyActiveBackgroundColor), to($shinyActiveBackgroundDarkColor), color-stop(0.6, $shinyActiveBackgroundColor));
    }
  }
}

#home {
  p.introducing {
    @include rotated-enamel;
    margin-top: 30px;
    font-size: 48px;
    color: $light-brown;
    margin-left: -20%;
    line-height: 30px;
  }
  h1 {
    @include rotated-enamel;
    font-size: 100px;
    color: #ad6b0c;
    line-height: 80px;
    text-shadow: none;
  }

  .tee {
    margin: 40px auto 0 auto;
    position: relative;
    &, img {
      width: 340px;
    }
    a.order-now {
      position: absolute;
      top: 250px;
      left: 42px;
      @include shiny-button($babyBlue);
      font-size: 44px;
      line-height: 55px;
      width: 250px;
      &:active {
        top: 252px;
      }
    }
  }

  .props {
    overflow: hidden;
    width: 75%;
    margin: 0 auto;
    margin-top: 50px;
    p {
      float: left;
      width: 33%;
      padding-bottom: 50px;
    }
    em {
      @include enamel;
      color: $light-brown;
      font-size: 30px;
      text-transform: lowercase;
    }
    a {
      display: block;
      color: $dark-brown;
      &:hover {
        color: $babyBlue;
      }
      &.wafer {
        font-size: 44px;
        @include enamel;
      }
      &.plus2 {
        /* TODO */
        font-size: 44px;
        @include enamel;
      }
      &.me {
        font-size: 44px;
        @include enamel;
      }
    }
  }
}

#order-form, #order-form-success {
  position: absolute;
  display: none;
  top: 0;
  width: 720px;
  padding: 55px 50px 25px 50px;
  @include rotate(-5deg);
  @include box-shadow(0px, 10px, 30px, rgba(89,62,8,.4));
  @include enamel;
}

$orderMainColor: $babyBlue;
$orderTextColor: lighten(desaturate($babyBlue, 55%), 5%);
$orderLabelColor: lighten($orderMainColor, 15%);
$orderBorderColor: lighten($orderMainColor, 35%);
$orderHeadingColor: lighten($orderMainColor, 30%);
$orderBackgroundColor: lighten($orderBorderColor, 12%);
$orderButtonColor: lighten($orderMainColor, 15%);

#order-form {
  font-size: 30px;
  line-height: 1.3em;
  text-align: left;
  top: -600px;
  background: $orderBackgroundColor;
  border: 10px solid $orderBorderColor;
  
  -webkit-transition-property: top, -webkit-transform;
  -webkit-transition-duration: 300ms, 300ms;
  
  &.visible {
    display: block;
    top: 0;
  }
  
  h2 {
    font: 72px/72px "ZingendeRegular-1", "ZingendeRegular-2", Helvetica, sans-serif;
    color: $orderHeadingColor;
    margin-bottom: 55px;
    text-align: center;
    background: url(/reservation-ornament-left.png) no-repeat left center, url(/reservation-ornament-right.png) no-repeat right center;
  }
  
  &, .name label {
    color: $orderLabelColor;
  }
  label {
    color: $orderTextColor;
  }

  .attendee-check {
    position: relative;
    margin-left: 45px;
    input[type="checkbox"] {
      position: absolute;
      top: 7px;
      left: -45px;
      margin-top: 0;
    }
  }

  .deets {
    margin-top: 40px;
    .name, .sex {
      display: inline;
    }
    label, span {
      margin-right: 15px;
    }
    .name {
      input {
        background: transparent;
        border: none;
        border-bottom: 3px dashed #dfddd7;
        margin-top: -30px;
        font: 48px "Journal", Helvetica, sans-serif;
        color: #037ac5;
        outline: none;
        width: 270px;
        margin-right: 30px;
      }
    }
    .tee {
      margin-top: 30px;
    }
  }

  button {
    @include shiny-button($orderButtonColor);
    display: block;
    width: 710px;
    font-size: 50px;
    margin-top: 50px;
  }
  
  *:focus {
    outline-color: #ddd;
  }
  
  input[type="radio"], input[type="checkbox"] {
    -khtml-appearance: none;
    margin-top: -13px;
    width: 32px;  
    height: 32px;
    background: url('/checkboxes.png?v2') no-repeat 0 0;
    cursor: pointer;
    &:checked {
      background-position-x: -32px;
    }
  }
  
  *[disabled] {
    &, &:hover, &:active:hover {
      cursor: default;
      opacity: .7;
    }
  }
  
  &.flipped {
    -webkit-transform: rotateY(90deg) rotate(-5deg);
  }
}

#order-form-success {
  background-color: $orderBorderColor;
  color: $orderHeadingColor;
  -webkit-transform: rotateY(90deg) rotate(-5deg);
  -webkit-transition: -webkit-transform 300ms;
  cursor: pointer;
  &.unflipped {
    -webkit-transform: rotateY(0deg) rotate(-5deg);
  }
  h2 {
    font-size: 70px;
  }
}