@import "reset";
@import "font-enamel-brush";
@import "font-zingende-regular";
@import "font-journal";

html {
  background: #f9e8c6;
  background: #f9e8c6 -webkit-gradient(radial, 50% 300, 0, 50% 300, 300, from(#fefcf9), to(#f9e8c6)) no-repeat;
}

body {
  width: 850px;
  margin: 0 auto;
  text-align: center;
}

a {
  text-decoration: none;
}

$light-brown: #e9be80;
$dark-brown: #ad6b0c;
$watermelon: #f16e75;

@mixin enamel {
  font-family: "EnamelBrushRegular-1", "EnamelBrushRegular-2";
  text-shadow: 0 0 3px #fff;
}

@mixin rotated-enamel {
  @include enamel;
  @include rotate(-5deg);
}

@mixin rotate($angle) {
  -webkit-transform: rotate($angle);
  -moz-transform: rotate($angle);
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius
}
@mixin box-shadow($colour, $xoffset, $yoffset, $radius) {
  -webkit-box-shadow: $colour $xoffset $yoffset $radius;
  -moz-box-shadow: $colour $xoffset $yoffset $radius;
}
@mixin shiny-button($color) {
  $borderColor: saturate($color, 5%);
  $backgroundColor: lighten($color, 15%);
  $backgroundColorDark: darken($backgroundColor, 15%);
  $edgeHighlightColor: white;
  $shadowColor: transparentize(darken($color, 50%), .45);
  
  $hoverColor: lighten($color, 5%);
  $hoverBorderColor: lighten($borderColor, 5%);
  $hoverBackgroundColor: lighten($backgroundColor, 5%);
  $hoverBackgroundColorDark: lighten($backgroundColorDark, 5%);
  
  $activeColor: desaturate(darken($color, 3%), 5%);
  $activeBorderColor: $borderColor;
  $activeBackgroundColor: desaturate(darken($backgroundColor, 5%), 5%);
  $activeBackgroundDarkColor: darken($activeBackgroundColor, 15%);
  $activeEdgeHighlightColor: lighten($backgroundColor, 20%);
  $activeShadowColor: transparentize($shadowColor, .2);
  
  display: inline-block;
  font-family: "ZingendeRegular-1", "ZingendeRegular-2", Helvetica, sans-serif;
  @include border-radius(5px);
  border: 2px solid $borderColor;
  
  cursor: pointer;

  strong {
    display: block;
    background-color: $backgroundColor;
    background-repeat: no-repeat, no-repeat;
    background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 200, from(rgba(255,255,255,.5)), to(rgba(255,255,255,0))), -webkit-gradient(linear, left top, left bottom, from($backgroundColor), to($backgroundColorDark), color-stop(0.6, $backgroundColor));
  }
  &, &:hover, &[disabled], &[disabled]:hover, &[disabled]:hover:active {
    @include box-shadow($shadowColor, 0, 1px, 3px);
    color: $color;
    background-color: $edgeHighlightColor;
    text-shadow: 0 1px 1px #fff, 0 1px 5px rgba(255,255,255,.8);
    padding: 1px 0 0 0;
  }
  &:hover, &[disabled], &[disabled]:hover, &[disabled]:hover:active {
    color: $hoverColor;
    border-color: $hoverBorderColor;
    strong {
      background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 200, from(rgba(255,255,255,.6)), to(rgba(255,255,255,0))), -webkit-gradient(linear, left top, left bottom, from($hoverBackgroundColor), to($hoverBackgroundColorDark), color-stop(0.6, $hoverBackgroundColor));
    }
  }
  &:active, &:hover:active {
    @include box-shadow($activeShadowColor, 0, 1px, 2px);
    padding-top: 1px;
    padding-bottom: 0px;
    color: $activeColor;
    border-color: $activeBorderColor;
    text-shadow: 0 1px 1px #fff, 0 1px 5px rgba(255,255,255,.3);
    background-color: $activeEdgeHighlightColor;
    strong {
      background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 200, from(rgba(255,255,255,.6)), to(rgba(255,255,255,0))), -webkit-gradient(linear, left top, left bottom, from($activeBackgroundColor), to($activeBackgroundDarkColor), color-stop(0.6, $activeBackgroundColor));
    }
  }
}

#home {
  p.introducing {
    @include rotated-enamel;
    margin-top: 30px;
    font-size: 48px;
    color: $light-brown;
    margin-left: -20%;
    line-height: 30px;
  }
  h1 {
    @include rotated-enamel;
    font-size: 100px;
    color: #ad6b0c;
    line-height: 80px;
    text-shadow: none;
  }

  .tee {
    margin: 40px auto 20px auto;
    position: relative;
    &, img {
      width: 340px;
    }
    a.order-now {
      position: absolute;
      top: 250px;
      left: 42px;
      @include shiny-button(#3db5cd);
      font-size: 40px;
      width: 250px;
      &:active {
        top: 252px;
      }
    }
  }

  .props {
    p {
      margin-bottom: 27px;
    }
    em {
      @include enamel;
      color: $light-brown;
      font-size: 30px;
      text-transform: lowercase;
    }
    a {
      display: block;
      color: $dark-brown;
      &:hover {
        color: $watermelon;
      }
      &.wafer {
        font-size: 54px;
        @include enamel;
      }
      &.plus2 {
        /* TODO */
        font-size: 54px;
        @include enamel;
      }
    }
  }
}

#order-form {
  position: absolute;
  display: none;
  top: -600px;
  width: 720px;
  background: #fffdf6;
  padding: 55px 50px 25px 50px;
  @include rotate(-5deg);
  @include box-shadow(0px, 10px, 30px, rgba(89,62,8,.4));
  border: 10px solid #ffeef0;
  @include enamel;
  font-size: 30px;
  line-height: 1.3em;
  text-align: left;
  
  -webkit-transition: top 400ms ease-out;
  
  &.visible {
    display: block;
    top: 0;
  }
  
  h2 {
    font: 72px/72px "ZingendeRegular-1", "ZingendeRegular-2", Helvetica, sans-serif;
    color: #ffdce0;
    margin-bottom: 55px;
    text-align: center;
    background: url(/reservation-ornament-left.png) no-repeat left center, url(/reservation-ornament-right.png) no-repeat right center;
  }
  
  &, .name label {
    color: #dea1a4;
  }
  label {
    color: #9b8f7b;
  }

  .attendee-check {
    position: relative;
    margin-left: 45px;
    input[type="checkbox"] {
      position: absolute;
      top: 7px;
      left: -45px;
      margin-top: 0;
    }
  }

  .deets {
    margin-top: 40px;
    .name, .sex {
      display: inline;
    }
    label, span {
      margin-right: 15px;
    }
    .name {
      input {
        background: transparent;
        border: none;
        border-bottom: 3px dashed #dfddd7;
        margin-top: -30px;
        font: 48px "Journal", Helvetica, sans-serif;
        color: #037ac5;
        outline: none;
        width: 270px;
        margin-right: 30px;
      }
    }
    .tee {
      margin-top: 30px;
    }
  }

  button {
    @include shiny-button(#d8808c);
    display: block;
    width: 710px;
    font-size: 50px;
    margin-top: 50px;
  }
  
  *:focus {
    outline-color: #ddd;
  }
  
  input[type="radio"], input[type="checkbox"] {
    -khtml-appearance: none;
    margin-top: -13px;
    width: 32px;  
    height: 32px;
    background: url('/checkboxes.png') no-repeat 0 0;
    cursor: pointer;
    &:checked {
      background-position-x: -32px;
    }
  }
  
  *[disabled] {
    &, &:hover, &:active:hover {
      cursor: default;
      opacity: .7;
    }
  }
}